<table class="table table-sm">
        <tbody>
            <tr>
                    <td class="col-md-1">{{item.id}}</td>
                    <td class="col-md-3">{{item.name}}</td>
                    <td class="col-md-2">{{item.coordinate}}</td>
                    <td class="col-md-1">{{item.numFamily}}</td>
                    <td class="col-md-1">{{item.numExtraFamily}}</td>
                    <td class="col-md-1">{{item.clients}}</td>
                    <td class="col-md-1">{{item.tempo}}</td>
                    <td class="col-md-1"><a (click)="onDelete()">Usuń</a></td>
            </tr>
        </tbody>
</table>
