<div class="row">
    <div class="col-xs-12" >
        <div class="page-header" style="margin: 0 70px; padding: 0">
            <h2>
                Aplikacja do planowania przestrzennej alokacji zasobów na przykładzie Szlachetnej Paczki
                <span class="small">by Dariusz Kąkol</span>
            </h2>
        </div>
    </div>
</div>
<nav class="navbar navbar-default" style="margin: 5px 70px">
        <div class="conainer-fluid">
            <div class="navbar-default">
                <ul class="nav nav-pills" style="display:inline-block; margin: 6px">
                    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a routerLink="/algorithm">Planuj</a></li>
                    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a routerLink="/history">Historia decyzji</a></li>
                </ul>
                <ul class="nav nav-pills" style="display:inline-block; float: right; margin: 6px"> 
                    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a routerLink="/signup">Dodaj usera</a></li>
                    <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a routerLink="/signin">Zaloguj</a></li>
                    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a routerLink="/logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>
</nav>
